<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>654889192784-n9dg621a1abcvc9u4qa22a8app129vd9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.654889192784-n9dg621a1abcvc9u4qa22a8app129vd9</string>
	<key>API_KEY</key>
	<string>AIzaSyBPFJgz9HhYBhaBCGCKk1Zti-WpcO21fwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>654889192784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emiraksu.noteor</string>
	<key>PROJECT_ID</key>
	<string>noteor-af84f</string>
	<key>STORAGE_BUCKET</key>
	<string>noteor-af84f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654889192784:ios:24671db719656ed2e3f055</string>
</dict>
</plist>